services:
  dataset-format-benchmark:
    build:
      context: ./
      dockerfile: Containerfile
    image: dataset-format-benchmark
    container_name: dataset-format-benchmark
    environment:
      LOGGING_LEVEL: "${LOGGING_LEVEL:-DEBUG}"
